In [6]:
import pandas as pd
#資料讀取
path = './taxi_data/'
file = ['test_hire_stats.csv','train_gps_points.csv']
"""
test_hire_stats.csv:乘車需求預測。
    
    Test_ID：    乘車需求之流水序號，共672筆
    Date：       預測日期，格式 YYYY-mm-dd，如2017-02-01
    Hour_slot：  預測時段，以一小時計，本欄位的值為0~23。
                 0代表0:00:00~0:59:59時段，1代表1:00:00~1:59:59，
                 依此類推，23代表23:00:00~23:59:59
    Hire_count： 內湖區該時段的乘車需求預測數量，本欄位下載時為空值，
                 請您填入您的預測值 (正整數值，0~n) 後上傳
                 
train_gps_points.csv:乘客上車GPS點位記錄，此資料乃經由篩選計程車錶於內湖區範圍內的啟動記錄而得，
                     並且將計程車錶啟動時間與地點視為乘客上車點，共4,118,812筆資料。
    
    Datetime：   計程車錶啟動時間 (台北時間 GMT+8:00)
    Longitude_X：GPS記錄經度 (WGS84座標)
    Latitude_Y： GPS記錄緯度 (WGS84座標)

train_hire_stats.csv
zones.csv
"""
#讀取test_hire_stats.csv
df1 = pd.read_csv(path+file[0])
print(df1)

      Test_ID  Zone_ID        Date  Hour_slot  Hire_count
0           0        7  2017-02-01          0         NaN
1           1        7  2017-02-01          1         NaN
2           2        7  2017-02-01          2         NaN
3           3        7  2017-02-01          3         NaN
4           4        7  2017-02-01          4         NaN
...       ...      ...         ...        ...         ...
6043     6043       19  2017-02-28         19         NaN
6044     6044       19  2017-02-28         20         NaN
6045     6045       19  2017-02-28         21         NaN
6046     6046       19  2017-02-28         22         NaN
6047     6047       19  2017-02-28         23         NaN

[6048 rows x 5 columns]

In [7]:
#讀取train_gps_points.csv
df2 = pd.read_csv(path+file[1])
print(df2)

                           Datetime  Longitude_X  Latitude_Y  Zone_ID
0        2016-02-01 08:01:10 +08:00   121.590916   25.080958       13
1        2016-02-01 08:01:16 +08:00   121.551468   25.063524        5
2        2016-02-01 08:01:42 +08:00   121.568883   25.068289        9
3        2016-02-01 08:01:59 +08:00   121.559309   25.057847        5
4        2016-02-01 08:02:04 +08:00   121.563837   25.052547        5
...                             ...          ...         ...      ...
4118807  2017-01-31 23:59:25 +08:00   121.603753   25.056671       20
4118808  2017-01-31 23:59:47 +08:00   121.592167   25.086632       13
4118809  2017-01-31 23:59:48 +08:00   121.615473   25.061945       25
4118810  2017-01-31 23:59:50 +08:00   121.592216   25.087894       13
4118811  2017-01-31 23:59:51 +08:00   121.618448   25.072709       24

[4118812 rows x 4 columns]

In [8]:
#檢查有無遺失值，有就刪除
select_df = pd.DataFrame(df2)
drop_value = select_df.dropna()
print(drop_value)

                           Datetime  Longitude_X  Latitude_Y  Zone_ID
0        2016-02-01 08:01:10 +08:00   121.590916   25.080958       13
1        2016-02-01 08:01:16 +08:00   121.551468   25.063524        5
2        2016-02-01 08:01:42 +08:00   121.568883   25.068289        9
3        2016-02-01 08:01:59 +08:00   121.559309   25.057847        5
4        2016-02-01 08:02:04 +08:00   121.563837   25.052547        5
...                             ...          ...         ...      ...
4118807  2017-01-31 23:59:25 +08:00   121.603753   25.056671       20
4118808  2017-01-31 23:59:47 +08:00   121.592167   25.086632       13
4118809  2017-01-31 23:59:48 +08:00   121.615473   25.061945       25
4118810  2017-01-31 23:59:50 +08:00   121.592216   25.087894       13
4118811  2017-01-31 23:59:51 +08:00   121.618448   25.072709       24

[4118812 rows x 4 columns]